@media(min-width: 768px) {
  .header-wrapper{
    display: grid;
    grid-template-columns: 2fr 6fr;
    .title a{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 60px;
      height: 100%;
    }
  }
  .main-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    .wrapper{
      align-content: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 200px;
      align-items: center;
      .filter-wrapper{
        background-color: $search;
        height: 70%;
      }
    }
    .select-options{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 80px);
      place-items: center center ;      
      height: 100%;
      form{
        align-self: start;
      }
    }
    .hero{
      form{
        label{
          padding-left: 40px;
          font-size: 1.2em;
          font-weight: 600;
        }
        input{
          height: 100%;
        }
        justify-self: center;
        width: 500px;
        .input-submit{
          display: grid;
          grid-template-columns: 3fr 1fr;
        }
      }
      .how-it-works{
        justify-self: center;
        p{
          height: 40%;
        }
      }
    }
    .describe-how-it-works {
      margin: 0 auto;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr;
      grid-template-rows: 70px repeat(4, 100px);
      align-items: center;
      h1{
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
      }
      .steps{
        padding-left: 20px;
      }
      .lorem-text{
        line-height: 1.4;
      }
      .icon, .todo{
        text-align: center;
        padding: 5px 0
      }
      .todo{
        font-weight: 600;
        font-size: 1.2em;
      }
    }
    .how-to-find{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 230px);
      margin: 20px 10px 0 10px;
      .first, .second,.third{
        display: grid;
        grid-template-columns: 2fr 4fr;
        color: #fff;
      }
      .info{
        padding: 20px 0 0 30px;
      }
      .first{
        background-color: $primaryColor;
      }
      .second{
        background-color: $search;
      }
      .third{
        background-color: $secondary;
      }
    }
    .image-gallery{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px,1fr));;
      grid-gap: 10px;
      grid-template-rows: repeat(3, 400px);
      .imag-7, .imag-8, .imag-9, .imag-10 {
        display: none;
      }
      .image-wrapper{
        position:relative;
        p{
          position: absolute;
          top: 370px;
          left: 2px;
          background-color: red;
          color: white;
          padding: 5px;
          font-weight: 600;
        }
      }
    }
  }

  .detail-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 700px 100px;
    justify-items: center;
    margin-top: 100px;
    .details{
      border: solid gray 1px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 500px 70px;
      justify-items: center;
      width: 90%;
      h1{
        align-self: end;
        width: 90%;
        text-align: left;
        padding:10px 0px 10px 0px;
        font-size: 1.2rem;
        text-transform: capitalize;
      }
      .detail-image-wrapper{
        background: url("../asset/image/burj-khalifa.jpg");
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 90%;
      }
      .detail-image-wrapper2{
        background: url("../asset/image/Etihad-Museum.jpg");
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 90%;
      }
      .apply{
        align-self: center;
        width:80%;
       text-align: right;
      }
    }
    .detail-info{
      padding-top: 20px;
      width: 90%;
    }
  }

  .footer-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    font-family: $font-stack;
    font-size: 1em;
    .footer-media-icons-wrapper{
      background-color: black;
      color: #fff;
      display: grid;
      grid-template-columns: 4fr 1fr 4fr;
      grid-template-rows: 50px;
      .social-media-icons{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        place-items: center center;
      }
      .location-icon{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center center;
      }
    }
    .footer-contact{
      background-color: #000;
      color: #fff;
      display: grid;
      grid-template-columns: 6fr 3fr 3fr;
      grid-template-rows: 150px;
      place-items: center center;
      padding-left: 20px;
      text-align: center;
      .submit{
        background-color: darkgrey;
        width: 70px;
        padding: 0 5px;
      }
    }
    .footer-last{
      background-color: rgb(39, 38, 38);
      color: #fff;
      display: grid;
      padding-bottom: 10px;
      grid-template-columns: 3fr 7fr;
      ul{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
        grid-template-rows: 50px;
        place-items: center center;
        padding-right: 10px;
      }
    }
    .info{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }
}
