@import 'config';

header{
  color: white;
  height: 100px;
  .header-wrapper {
    background-color: $primaryColor;
    display: grid;
    height: 100%;
    padding: 10px;
    .title{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
    .fa-map-marker-alt{
      justify-self: right;
    }
    nav{
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      justify-items: center;
      align-items: center;
    }
  }
}


